label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

span.icon.icon-github {
  color: black;
  margin-right: 5px;
}

span.icon.icon-cancel {
  color: black;
  margin-right: 5px;
}